* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}

.navbar_ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    margin-right: 40px;
}

.navbar_li {
    transition: .5s;
}

.navbar_li:hover {
    cursor: pointer;
    color: gold;
    transition: .5s;
}

.navbar_p {
    margin-left: 35px;
    cursor: pointer;
}

.img_1 {
    height: auto;
    margin-left: 60px;
    margin-bottom: 120px;
}

.section_card_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_title {
    font-size: 20px;
    margin-left: 60px;
}

.section_card_group_2 {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section_card_group_3 {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_text {
    margin-left: 60px;
    padding-top: 100px;
}

.footer_text_2 {
    margin-left: 700px;
    line-height: 20px;
    margin-top: -50px;
}

.footer_text_3 {
    margin-left: 1023px;
    margin-bottom: 50px;
    line-height: 20px;
    margin-top: -40px;
}

.footer_text_4 {
    margin-left: 1300px;
    margin-bottom: 50px;
    margin-top: -100px;
    line-height: 20px;
}